.form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.input {
  font-size: 24px;
  padding: 8px;
  border-radius: 50px;
  margin-right: 12px;
}

.button {
  font-size: 21px;
  padding: 8px;
  border-radius: 50px;
  background-color: rgb(231, 247, 14);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(213, 226, 26);
}
